<section class="container">
  <h2>Hi, Here is my Angular test app.</h2>
  <p>I am done the test App with following points</p>
  <p>
    Write a sample program using Angular for web application with header and
    footer. Add logo and below menus in header.
  </p>
  <ol>
    <li>How it works?</li>
    <li>User List</li>
  </ol>
  <p>
    <b>How It works?</b><br />
    Read only information will be here with some dummy text.
  </p>
  <p>
    <b>User list:</b><br />
    Table with existing user list. Columns: First Name, Last Name, Username,
    City, Department. Should have sorting, column filter and pagination
    (sorting, column filter for each column), provide “Add User” button.
  </p>
  <p>
    <b>Add New User:</b><br />
    Add new user in existing records. On click of “Add User” button provide a
    form input elements for each column, on click of “Save” button user list
    should get updated with the saved records. You can use temporary storage
  </p>
  <p>I have used Angular 8 and Angular Material for this app</p>
</section>
